.ta10em {
  position: fixed;
  left: 15px;
  top: 15px;
  resize: none;
  height: 600px;
  width: 300px;
  margin: 30px;
  background-color: rgb(233, 182, 246);
}

.hex-image {
  position: fixed;
  width: 60px;
  height: 60px;
}

/* Disabling zooming in CSS */
html {
  touch-action: none; /* Disables pinch zooming on touch devices */
  overflow: hidden; /* Prevents scroll bars from appearing */
}

.hex-container {
  position: relative;
  pointer-events: none;
}

.input-container {
  position: fixed;
  bottom: 10px; /* Adjust the distance from the bottom as needed */
  left: 10px; /* Adjust the distance from the left as needed */
  z-index: 2;
}

.input-box {
  position: absolute;
  width: 100px;
  bottom: 15px;
  left: 15px;
}

.confirm {
  position: fixed;
  left: 5%;
  bottom: 15%;
}

.timeLeft {
  position: fixed;
  top: 10%;
  right: 15%;
  color: white;
}

body {
  background-image: url("../../assets/background/purple_space.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: auto; /* Enable pointer events */
}
