/* body {
  background-image: url("../assets/background/inGame.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hexagonal {
} */
.container {
  display: grid;
  grid-template-columns: repeat(10, 100px); /* Define columns */
  grid-template-rows: repeat(10, 100px); /* Define rows */
  gap: 5px; /* Adjust the gap between hexagons */
}

.row {
  display: grid;
  grid-template-columns: repeat(10, 100px); /* Same as container columns */
  grid-template-rows: 100px; /* Same row height as container */
}

.move-right {
  margin-left: 50px; /* Move the row to the right by half hexagon size */
}

.hexagon {
  width: 100px; /* Set hexagon width */
  height: 100px; /* Set hexagon height */
  background-size: cover; /* Ensure the image covers the entire hexagon */
}
